
<footer>
    <div class="main-content">
        <div class="right box">
          <h2>Routing</h2>
          <div class="content">
              
            <ul>
                <!-- <li><a [routerLink]="[ '/works' ]" routerLinkActive="active">Works</a></li> -->
                <li><a [routerLink]="[ '/services' ]" routerLinkActive="active">Services</a></li>
                <!-- <li><a [routerLink]="[ '/info' ]" routerLinkActive="active">Information</a></li> -->
                <li><a [routerLink]="[ '/contact' ]" routerLinkActive="active">Contact</a></li>
                <!-- <li><a [routerLink]="[ '/news' ]" routerLinkActive="active">News</a></li> -->
                <li><a [routerLink]="[ '/basket' ]" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
       
          </div>
        </div>
      <div class="left box">
        <h2>About us</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, dignissimos?</p>
          <div class="social">
            <a href="https://www.facebook.com/Korona-Leva-972307229485602/"><span class="fab fa-facebook-f"></span></a>
            <a href="https://twitter.com/Sheffield_door"><span class="fab fa-twitter"></span></a>
            <!-- <a href=""><span class="fab fa-instagram"></span></a> -->
            <a href="https://www.youtube.com/channel/UCagrJoqv9E-UuBSJAINWeGA"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>

      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">79069, Україна, Львів
                вул. Шевченка, 315</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span><br>
            <span class="text">+ 38 (098) 119 94 82</span><br>
            <span class="text">+ 38 (032) 239 58 05 </span><br>
            <span class="text">+ 38 (067) 373 44 04</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">korona-leva@korona-leva.lviv.ua</span>
          </div>
        </div>
      </div>

    </div>
    <div class="bottom">
      <div style="text-align: center;">
   
        <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
      </div>
    </div>
  </footer>
