<p>contacts works!</p>



<div class="main mt-5">

    <!-- <div class="card1 mt-5">
      <img src="https://images.unsplash.com/photo-1622495549609-523be9cc6f32?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
      <h3 style="color: black;">Name Surname</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, maiores!</p>
      <div style="display: flex; justify-content: space-between;">
        
        <div class="icon"><i class="fab fa-telegram"></i></div>
        <div class="icon"><i class="fab fa-viber"></i></div>
        <div class="icon"><i class="fab fa-facebook"></i></div>
      </div>
    </div>
    <div class="card2 mt-5">
      <img src="https://images.unsplash.com/photo-1622495549609-523be9cc6f32?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
      <h3 style="color: black;">Name Surname</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, maiores!</p>
      <div style="display: flex; justify-content: space-between;">
        
        <div class="icon"><i class="fab fa-telegram"></i></div>
        <div class="icon"><i class="fab fa-viber"></i></div>
        <div class="icon"><i class="fab fa-facebook"></i></div>
      </div>
    </div>
    <div class="card3 mt-5">
      <img src="https://images.unsplash.com/photo-1622495549609-523be9cc6f32?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
      <h3 style="color: black;">Name Surname</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, maiores!</p>
      <div style="display: flex; justify-content: space-between;">
        
        <div class="icon"><i class="fab fa-telegram"></i></div>
        <div class="icon"><i class="fab fa-viber"></i></div>
        <div class="icon"><i class="fab fa-facebook"></i></div>
      </div>
    </div> -->

    <div class="grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="https://images.unsplash.com/photo-1619216910014-1fdb7a8e98e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Rome" />
            <div class="card-content">
              <h1 style="text-align: center;" class="card-header">Somebody Important</h1>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, quae quasi omnis minus nihil iste dicta quam aliquid possimus eius.
              </p>
              <div style="display: flex; justify-content: space-between;">
        
                <div class="icon"><i class="fab fa-telegram"></i></div>
                <div class="icon"><i class="fab fa-viber"></i></div>
                <div class="icon"><i class="fab fa-facebook"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img
              class="card-img"
              src="https://images.unsplash.com/photo-1448374247140-1b25b7a2d776?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
              alt="Grand Canyon"
            />
            <div class="card-content">
              <h1 style="text-align: center;" class="card-header">Grand Carry</h1>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim deserunt dolore omnis veniam temporibus vitae.
                
              </p>
              <div style="display: flex; justify-content: space-between;">
        
                <div class="icon"><i class="fab fa-telegram"></i></div>
                <div class="icon"><i class="fab fa-viber"></i></div>
                <div class="icon"><i class="fab fa-facebook"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="https://images.unsplash.com/photo-1487059741353-f9a23d74b793?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="Maldives" />
            <div class="card-content">
              <h1 style="text-align: center;" class="card-header">Name Surname</h1>
              <p class="card-text">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore in recusandae inventore laborum animi voluptatibus natus!
                
              </p>
              <div style="display: flex; justify-content: space-between;">
        
                <div class="icon"><i class="fab fa-telegram"></i></div>
                <div class="icon"><i class="fab fa-viber"></i></div>
                <div class="icon"><i class="fab fa-facebook"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    
   
    
</div>

