<p>services works!</p>

<div style="padding:80px 0 0" class="main">


    <p class="servicesTitleSelector">OUR SERVICES</p>

 


   <div class="servicesSelector">
  
    <!--  -->
    <div [routerLink]="[ '/services/entrace']" class="square three">
      <div class="content">
        <a [routerLink]="[ '/services/entrace']" class="neonButton" >

          <span></span>
          <span></span>
          <span></span>
          <span></span>
         ENTRACE DOORS
      </a>
      </div>
    </div>
    <!--  -->
    <div [routerLink]="[ '/services/interior']" class="square three">
      <div class="content">
        <a [routerLink]="[ '/services/interior']" class="neonButton neonButton2" >

          <span></span>
          <span></span>
          <span></span>
          <span></span>
         INTERIOR DOORS
      </a>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div [routerLink]="[ '/services/furniture']" class="square three">
      <div class="content">
        <a [routerLink]="[ '/services/furniture']" class="neonButton neonButton3" >

          <span></span>
          <span></span>
          <span></span>
          <span></span>
          FURNITURE
      </a>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div [routerLink]="[ '/services/woodProducts']" class="square three">
      <div class="content">
        <a [routerLink]="[ '/services/woodProducts']" class="neonButton neonButton4" >

          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <p style="width: 100%;">
            Wood Products
          </p>
      </a>
      </div>
    </div>
    <!--  -->
  </div>

      


  


</div>
