<main style="padding: 2%; padding-top: 85px; ">

    <owl-carousel-o [options]="customOptions">
       
        <ng-template *ngFor="let image of imagesArr" carouselSlide>
          <div class="slide">
            <img [src]="image" alt="img 3">
          </div>
        </ng-template>
      </owl-carousel-o>

    <!-- <div class="wrapper">
        <div class="main" style="background-size: cover;background-repeat: no-repeat; background-position: center;">
           
            <div class="contacts_us">
                
            </div>
        </div>
        <div style=" border-top-left-radius: 10px; border-bottom-left-radius: 10px;" class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;" class="overlay"></div>
    </div> -->


    <div class="home_history">
        <div class="home_history_title">ЛАСКАВО ПРОСИМО НА <br> КОРОНУ ЛЕВА</div>
        <div class="home_history_text">Компанія «Корона-Лева» заснована у 2008 році, знаходиться вона у Львові. За час
            існування компанія не лише наростила виробництво дверей для квартири, розширила готовий каталог товарів, а і
            завоювала довіру замовників в Україні, а також в країнах СНГ. Салон дверей у Львові «Корона-Лева» займається
            продажей: вхідних металевих, протипожежних, міжкімнатних, а також є потужним виробником сейфів для зброї,
            ікон з деревини твердих порід. Завдяки високоякісному обладнанню та кваліфікованим працівникам, компанії
            вдається пропонувати своїм клієнтам продукцію найвищої якості. Наш салон має найбільший дверний каталог у
            Львові. Ми готові дотримуватися тільки високих, та надійних характеристик стабільної якості, а також
            використання механізмів закривання і фурнітури: Mul-T-Lock, Cisa, Mottura, Border, ISEO, SAB, Apecs, Archie,
            Colombo. <br>

            Головною особливістю продукції в магазині Korona-leva є: необхідний вигляд, матеріал, форма, модель, а також
            можливістю клієнта поєднати розмір, дизайн, якість, кольор та комплектацію, з варіантів які запропоновані
            виробником. Також проектування міжкімнатних дверей і виготовлення декоративної продукції з допомогою шпона
            або вибрати звичайне дерево, за індивідуальними замовленнями з застосуванням різьби, художньої кованки,
            елементів зі скла, кольорових металів, нержавіючої сталі, сланцевого каменя та інших декоротивних елементів.
            <br>

            Конкурентна ціна, якісний товар в салоні дверей у Львові «Корона-Лева», надає можливість забезпечити
            ідеальне співвідношення ціни та якості, зайнявши при цьому ведучі позиції, як серед українських виробників,
            так і серед імпортної продукції.</div>

    </div>


    <div class="advantages">
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-check"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">ГАРАНТІЇ</div>
                <div class="advantage_text">На всі вироби гарантія 1 рік</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-brush"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">ФІНІШНЄ ОБРОБЛЕННЯ</div>
                <div class="advantage_text">Массив, МДФ, HPL, шпон.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-drafting-compass"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">ІНДИВІДУАЛЬНИЙ ДИЗАЙН</div>
                <div class="advantage_text">Робим вироби по вашому дизайну проекту.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-ruler-horizontal"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">РОЗМІРИ</div>
                <div class="advantage_text">Обмежень за розміром немає.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-people-carry"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">ДОСТАВКА І ВСТАНОВЛЕННЯ</div>
                <div class="advantage_text">Доставка і встановлення точно в термін.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="far fa-money-bill-alt"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">ЗАМКИ і ЦИЛІНДРИ</div>
                <div class="advantage_text">Від бюджетних до самих дорогих рішень.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-lock"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">SCREEN DOOR</div>
                <div class="advantage_text">Другі захисні двері для дому.</div>

            </div>
            
        </div>
        <div class="advantage">
            <div class="advantage_icon"><i class="fas fa-wrench"></i></div>
            <div class="advantage_description">
                <div class="advantage_title">РЕГУЛЮЮЧІ ПЕТЛІ</div>
                <div class="advantage_text">Легке регулювання протягом усього терміну служби.</div>

            </div>
            
        </div>
       
        
    </div>



</main>
