

.full{
    width: 600px;
    height: 600px;
  }
  
  @media (max-width: 650px) {
    section{
      .full{
        width: 400px;
        height: 400px;
      }
    }
  }
  
  @media (max-width: 450px) {}
  
.loginForm {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 2%;
}


